.mealList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.infoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  padding: 10px;
  border: 2px solid #fafafa;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name {
  max-width: 320px;
}

.mealImage {
  width: 350px;
  height: 350px;
}

.addButton,
.removeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border: 2px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:active.addButton::before {
  content: "+1";
  position: absolute;
  top: 30%;
  left: -30px;
}

.removeButton:active.removeButton::before {
  content: "-1";
  position: absolute;
  top: 30%;
  left: -30px;
}

.addButton:hover {
  background-color: rgb(44, 138, 44);
}

.removeButton:hover {
  background-color: orangered;
}
