.imageAndIngredientsWrapper {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.imageAndIngredientsWrapper > ul {
  width: 400px;
  border: 3px solid #fafafa;
  font-size: 20px;
  padding: 10px;
  margin-right: 200px;
  margin-top: 100px;
}

.imageAndIngredientsWrapper > ul > li {
  display: flex;
  justify-content: space-between;
}

.imageAndIngredientsWrapper > ul > li > p {
  display: inline;
}

.instructionsHeader {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.instructions {
  display: flex;
  font-size: 18px;
}

.header {
  font-size: 35px;
  text-align: center;
}

.headerWrapper {
  position: relative;
  margin-bottom: 50px;
}

.header::after {
  content: "___________________";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.btnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.btnWrapper > button {
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fafafa;
}

.removeBtn:hover {
  background-color: orangered;
}

.addBtn:hover {
  background-color: rgb(44, 138, 44);
}

.addBtn:active.addBtn::before {
  content: "+1";
  position: absolute;
  top: 14%;
  left: -30px;
}

.removeBtn:active.removeBtn::before {
  content: "-1";
  position: absolute;
  top: 73%;
  left: -30px;
}

.goBack {
  position: absolute;
  left: 100px;
  width: fit-content;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #fafafa;

  transition: all ease-out;
  transition-duration: 300ms;
}

.goBack:hover {
  background-color: rgb(35, 24, 13);
}
